
<div class="wrap">
  <!--select-->
  <div class="select-price">
    <select #select (change)="airPlanePrice(select.value)">
      <option value="min">오름차순</option>
    </select>
  </div>
  <!--select-->
  <!--airplane wrap-->
  <dl class="airplane-wrap">
    <!--airplane info-->
    <dd class="airplane" *ngFor="let airPlane of airPlanes let i = index">
      <ul class="left-side">
        <li class="carrier-name">{{airPlane.carrier}}</li>
        <li class="start">{{airPlane.origin}}</li>
      </ul>
      <ul class="center-side">
        <li class="time">{{sliceTime(airPlane.duration)}}</li>
        <li class="arrow-wrap">
          <p class="arrow"></p>
          <p class="arrow-right"></p>
          <!--circle-->
          <ng-template [ngIf]="airPlane.stops.length !== 0">
            <ol *ngFor="let stop of airPlane.stops"
            [ngStyle]="{'left': airPlane.stops.length === 1 ? '45%' : '40%'}">
              <li class="circle"></li>
            </ol>
          </ng-template>
          <!--circle-->
        </li>
        <li class="stop-over"
        [ngStyle]="{'margin-right': airPlane.stops.length === 2 ? '20%' : '0'}">
          <span>{{countLeftOver(airPlane.stops.length)}}
             <span *ngIf="airPlane.stops.length !== 0">stop</span>
          </span>
          <span *ngIf="airPlane.stops.length !== 0">
              ({{airPlane.stops}})
          </span>
        </li>
      </ul>
      <ul class="right-side">
        <!-- max sort function -->
        <li class="price"><span>₩</span>{{priceFormat(airPlane.price)}}</li>
        <li class="destin">{{airPlane.destination}}</li>
      </ul>
    </dd>
    <!--airplane info-->
  </dl>
  <!--airplane wrap-->
</div>


